<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <form #loginForm="ngForm" (ngSubmit)="login()" style="margin-top: 20% !important">
        <div class="imgcontainer">
          <img src="../../assets/images/avater.png" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="email" id="email" placeholder="Enter email" name="email" 
          required [(ngModel)]="model.email">
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" 
          required [(ngModel)]="model.password" autocomplete="new-password">
              
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
          <div style="text-align: center;">Don't registered? <a [routerLink]="['/register']">register here...</a></div>
      
        </div>
      </form>
    </div>
  </div>
</div>