USE [master]
GO
/****** Object:  Database [TMS]    Script Date: 8/4/2019 12:08:40 AM ******/
CREATE DATABASE [TMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TMS]
GO
USE [TMS]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 8/4/2019 12:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[AssignedTo] [int] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/4/2019 12:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[Mobile] [varchar](100) NOT NULL,
	[Address] [varchar](500) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Mobile], [Address]) VALUES (2, N'Leo', N'Messi', N'leo@outlook.com', NULL, NULL, N'01714285598', N'Barcelona, Spain')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Mobile], [Address]) VALUES (5, N'Arif', N'Sheikh', N'arif_sk@outlook.com', 0xD60F0CBC50FF34CDBCB12D07BFE0B91E2BDC564D8BEE2047DAAF102A54094681608FA8E46C57C19522ABB375F6DF8E7CF93874EC9D6A2192C5ABC54C493E60B7, 0xF5D50DAC366A575D1B6514A4FCF1D0038E7EC8BC74FF735B7DACFEDFF93BF01183F8AD627E1DAEBFA75C85F9FC46E4B0D25BCDE08BC0B8A75F23C7FB348822FE404B288D008BFF1FB9F0972643B6A8E78825070EEDA215BC579C9BF1D9CA16ACE8E963F72BD4B0048C035861AD50916D2197EC3BD582917F771F4A845AC86ED5, N'01714285598', N'Banani, Dhaka')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
