<nav class="navbar navbar-expand-lg navbar-dark bg-primary"  *ngIf="loggedIn()">
    <div class="container">
      <a class="navbar-brand" style="color: white;" >TMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" *ngIf="loggedIn() && loginService.decodedToken?.role=='admin'" [routerLink]="['/admindashboard']" routerLinkActive="router-link-active" >Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" *ngIf="loggedIn()&& loginService.decodedToken?.role=='user'" [routerLink]="['/userdashboard']" routerLinkActive="router-link-active" >Dashboard <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <div class="dropdown" *ngIf="loggedIn()" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          welcome {{loginService.decodedToken?.unique_name}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
          <div class="dropwown-divide"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"> Logout</i></a>
        </div>
      </div>
    </div>
    </div>
  </nav>