<div class="container">
  <div class="tab-panel">
    <tabset class="member-tabset" style="margin: 20px;">
      <tab heading="Add User">
        <h4>Description</h4>
        <p>description description description </p>
      </tab>
      <tab heading="Add Task">
          <button type="button" style="margin:10px;" class="btn btn-primary" (click)="openModal(template)"><i class="fa fa-plus"></i> Add Task</button>
          <br>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Task Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Assigned To</th>    
                  <th scope="col">Action</th>                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of allTaskList">
                  <td style="display:none">{{t.id}}</td>
                  <td>{{t.taskName}}</td>
                  <td>{{t.description}}</td>
                  <td>{{t.startDate|date}}</td>
                  <td>{{t.endDate|date}}</td>
                  <td>{{t.assignedUser}}</td>
                  <td>
                    <button (click)="editTask(t)" class="btn btn-sm btn-warning" style="width: 70px;"> Edit</button>  
                    <button (click)="deleteTask(t)" style="margin-left:20px; width: 70px;" class="btn btn-sm btn-danger"> Delete</button>  
                  </td>
                </tr>
              </tbody>
            </table>
      </tab>
    </tabset>
  </div>
</div>



<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Task</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding: 20px 30px 20px 30px">
        <div class="row">
             <form  #taskForm="ngForm" (ngSubmit)="addTask()">
               <div class="form-group">
                 <label for="taskName">First Name</label>
                 <input type="text" class="form-control" id="taskName" placeholder="Task Name"
                 required name="taskName" [(ngModel)]="task.taskName">
             </div>
             <div class="form-group">
               <label for="description">Description</label>
                 <textarea class="form-control" id="description"  placeholder="Description" 
                 required name="description" cols="1" [(ngModel)]="task.description"></textarea>
             </div> 
             <div class="row">
               <div class="col-6">
                   <div class="form-group">
                       <label for="startDate">Start Date</label>
                       <input type="text" id="startDate" name="startDate" [(ngModel)]="task.startDate"
                        placeholder="Datepicker" class="form-control"  bsDatepicker [bsConfig]="{ isAnimated: true }" required>
                     </div>
               </div>
               <div class="col-6">
                   <div class="form-group">
                       <label for="endDate">End Date</label>
                       <input type="text" id="endDate" name="endDate" [(ngModel)]="task.endDate"
                        placeholder="Datepicker" class="form-control"  bsDatepicker [bsConfig]="{ isAnimated: true }" required>
                   </div> 
               </div>
             </div>
               <div class="form-group">
                   <label for="assinedTo">Assigned To</label><br>
                   <div class="btn-group" dropdown>
                       <button id="button-basic" dropdownToggle type="button" class="btn btn-default dropdown-toggle"
                               aria-controls="dropdown-basic" style="width: 350px; border: 1px solid lightgray">
                         Select User <span class="caret"></span>
                       </button>
                       <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                           role="menu" aria-labelledby="button-basic">
                         <li role="menuitem" class="dropdown-item">Action</li>
                         <li role="menuitem" class="dropdown-item" >Another action</li>
                         <li role="menuitem" class="dropdown-item">Something else here</li>
                       </ul>
                     </div>          
               </div>  
               <button type="submit" class="btn btn-primary btn-lg" 
               [disabled]="!taskForm.valid">Submit</button>
             </form>
            </div>
          </div>
  </ng-template>