<div class="container" style="padding: 30px;">
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Task Name</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>                
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of tasks">
          <td style="display:none">{{t.id}}</td>
          <td>{{t.taskName}}</td>
          <td>{{t.description}}</td>
          <td>{{t.startDate|date}}</td>
          <td>{{t.endDate|date}}</td>         
        </tr>
      </tbody>
    </table>
  </div>
</div>
